.btn--medium {
  width: 100%;
  max-width: 144px;
  height: 44px;
  line-height: 20px;
  background-color: #7f56d9;
  border-color: #7f56d9;
  font-size: 16px;
  color: #fff;
  border-radius: 7px;
  padding: 0 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-style: unset;
}
